.main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content-section {
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 49px 92px 50px;
  height: 293px;
  width: 1100px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
}

.header__logo-image {
  width: 129px;
  height: 104px;
}

.address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
  font-style: inherit;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  background-image: url(../images/cover.jpg);
  position: relative;
  padding: 165px 50px 50px 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;

}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  line-height: 127%;
  word-spacing: 18px;
  white-space: nowrap;
  text-transform: uppercase;
  transform: translateX(-40px)
}

.bet-button {
  font-size: 22px;
  cursor: pointer;
  color: #fff;
  padding: 12px 32px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background-color: transparent;
}

.bet-button:hover {
  color: #000000;
  background-color: #FFF;
}

.lots {
  padding: 0 50px;
}

.lots__heading {
  padding: 180px 64px 27px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  width: 1100px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  height: 596px;
  width: 334px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: auto;
  height: 100%;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  color: #FFF;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: underline;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 50px;
}

.about__column {
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}