.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr;
  align-items: center;
  text-decoration-skip-ink: none;
  font-family: Raleway, Arial, sans-serif;
}

.header__logo_image {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__menu {
  display: flex;
  align-items: flex-start;
  gap: 33px;
  list-style: circle;
}

.header__link {
  text-decoration: underline;
  display: flex;
  flex-direction: row;
}

.header__link-active {
  text-decoration: none;

}

.header__links-list-item {
  list-style-type: circle;
  margin-right: 32px;
}

.header__links-list-item_no-bullet {
  list-style: none;
  margin-right: 32px;
}

.header__address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: Raleway, Arial, sans-serif;
  font-style: normal;
  text-underline-position: under;
  max-width: 240px;
  font-style: Regular;
  justify-self: end;
  line-height: 24.3px;

}

.cover {
  position: relative;
  background-size: cover;
  width: 1100px;
  top: 293px;
  min-height: 757px;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background: #000;
  z-index: 0;
  background-position: center;
}


.cover__title {
  width: 100%;
  position: relative;
  top: 165px;
  max-width: 1340px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 355px;
  background-image: url(./images/cover.jpg);
}

.alligned-text_left {
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.alligned-text_center {
  display: block;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alligned-text_right {
  display: block;
  width: 100%;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover-description {
  word-spacing: 20px;
}

.cover__description-text {
  margin-top: 12px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 17.85px;
}

.button {
  margin-left: 78px;
  min-height: 52px;
  cursor: pointer;
  padding: 12px 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #FFF;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  background-color: transparent;
}

.lots__heading {
  margin: 180px 1229px 27px 90px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  min-height: 450px;
  margin: 27px 50px 30px;
  display: flex;
  flex-direction: row;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  margin-right: 25px;
  position: relative;
  list-style-type: none;
}

.card_type_film {
  background-image: url(./images/card-lot-01);
 background-repeat: no-repeat;
  position: relative;
  background-position:center;
  width: 334px;
  height: 596px;
}

.card_type_book {
  background-image: url(./images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url(./images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF;
  height: 100%;
  width: 430px;
}

.lots__card-list-item a {
  text-decoration: none;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
  margin: 50px 40px 0 40px;
}

.card__link {
  display: block;
  margin-right: 25px;
  text-decoration: none;
}

.card__text {
  text-decoration: none;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin: 0 40px 50px 40px;
}

.lots__look-more-link {
  margin-left: 90px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 430px;
  grid-column-gap: 25px;
  grid-template-rows: 240px;
  margin-top: 181px;
  margin-bottom: 181px;
  margin-left: 50px;
}

.about__column {
  margin-top: 100px;
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.about__logo {
  background-color: black;
  width: 240px;
  height: 240px;
  margin: 0px 95px;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: 63px 46px;
}

.about__title {
  margin-bottom: 75px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  margin: 0px 50px 90px 50px;
  justify-content: space-around;
}

.footer__address {
  justify-self: start;
  line-height: 24.3px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 240px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0px 355px 0px 356px;
  align-items: center;
}

.footer__menu-list-item {
  list-style-type: none;
  color: #000;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
}